* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

input{
    width: 13%;
}

img{
    width: 200px;
    height: 200px;
}

.slideshow_img{
    width: 560px;
    height: 320px;
}

.ms-2.title{
    margin-bottom: 0 !important;
}

.text-end.me-2.download-file{
    margin-bottom: 0 !important;
}

.download-btn {
	position: absolute;
	bottom: -50px;
	left: 12px;
	right: 13px;
	text-align: center;
	padding: 10px 15px;
	background: red;
	color: white;
	text-decoration: none;
    transition: .5s all ease-in-out;
}

.img-grid:hover .download-btn{
    bottom: 0;
}

.download-btn:hover{
    color: white;
    text-decoration: underline;
}